@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Turret+Road:wght@200&display=swap');
@import "login";
@import "sidenav";
@import "dashboard";
body{
    padding: 0;
    margin: 0;
}

.loading {
    h5 {
      margin-top: 30vh;
      text-align: center;
    }
  }

  .logoOnNotFound {
    margin-top: 12vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .notFoundPage {
    text-align: center;
    color: #607d8b;
  }

  .main {
    margin-left: 15vw; /* Same as the width of the sidenav */
    padding: 0px 10px;
    overflow-x: hidden;
    overflow-y: auto;
  }